<div class="container" id="success-page">
    <h1>Success!</h1>
    <h2>Payment has been received</h2>
    <h2>Thank you for your payment</h2>
    <h3>You can create post</h3>
    <br>
    <a href="/displayPostForm"><button type="button" class="btn btn-success"></button>Create Post</a>
</div>