
#homepage{
    text-align: center;
}

.btn-facebook{
    background-color: #4aa1f3;
    border-radius: 0%;
    color: #fff;
    width: auto;
}
.btn-facebook:link,
.btn-facebook:visited{
    text-decoration: none;
    background-color: #4aa1f3;
    color:#fff;
}

.btn-gplus{
    background-color: #e44b34;
    color: #fff;
    border: 0%;
    width: auto;
}
.btn-gplus:link,
.btn-gplus:visited{
    text-decoration: none;
    background-color: #e44b34;
    color: #fff;
}

.btn-instagram{
    background-color:rgb(195, 42, 163);
    border: 0%;
    color: #fff;
    width: auto;
}
.btn-instagram:link,
.btn-instagram:visited{
    text-decoration: none;
    background-color: rgb(195, 42, 163);
    color: #fff;
}

#welcome{
    color: #4aa1f3;
}
#main{
    margin-top: 60px;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
h1{
    text-align: center;
}
.col-sm-4{
    margin-bottom: 10px;
}

#address{
    color: green;
}

.post-user-pic{
    width: 100px;
    height: auto;
}

.red{
    color: red;
}
#comment-user-picture{
    width: 65px;
    height: auto;
}

.card{
    width: 200px;
    height: auto;
}

#success-page {
    text-align: center;
    color: green;
}

#users-image {
    width: 100px;
    height: 100px;
}
#users-box {
    margin: 5px 5px 5px 5px;
}

.row {
    width: 100%;
}